In [1]:
import pandas as pd

In [2]:
psg_players = pd.Series(["Navas", "Mbappe", "Neymar", "Messi"], index = [1, 7, 10, 30])

In [3]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [4]:
pd.Series(["Navas", "Mbappe", "Neymar", "Messi"])

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [5]:
dic = {1: "Navas", 7:"Mbape", 10:"Neymar", 30:"Messi"}

In [6]:
pd.Series(dic)

1      Navas
7      Mbape
10    Neymar
30     Messi
dtype: object

In [7]:
psg_payers = pd.Series(["Navas", "Mbappe", "Neymar", "Messi"])

In [8]:
psg_payers[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

In [10]:
diction = {
    "Jugador": ["Navas", "Mbappe", "Neymar", "Messi"],
    "Altura": [185, 178, 168, 167.5],
    "Goles": [2, 344, 232, 233]
}

In [11]:
df_players = pd.DataFrame(diction)

In [12]:
df_players

  Jugador  Altura  Goles
0   Navas   185.0      2
1  Mbappe   178.0    344
2  Neymar   168.0    232
3   Messi   167.5    233

In [13]:
df_players.index

RangeIndex(start=0, stop=4, step=1)

In [14]:
df_players.columns

Index(['Jugador', 'Altura', 'Goles'], dtype='object')